<h1>ユーザー作成</h1>
<form action="/users/store" method="post">
<table border="1">
  <tr>
    <th>名前</th>
    <th>年齢</th>
    <th>自己紹介</th>
  </tr>
  <tr>
    <td><input type="text" name="name"></td>
    <td><input type="text" name="age"></td>
    <td><input type="text" name="profile"></td>
  </tr>
</table>
<input type="submit" value="send">
</form>
