<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h1>ユーザー詳細</h1>
<table border="1">
  <tr>
    <th>名前</th>
    <th>年齢</th>
    <th>自己紹介</th>
  </tr>
  <% @user.each do |row| %>
  <tr>
    <td><%= row.name %></td>
    <td><%= row.age %></td>
    <td><%= row.profile %></td>
  </tr>
  <% end %>
</table>
